@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Model.ImageUrls = new List<string>();
    if (!string.IsNullOrEmpty(Request.Query["id"]))
    {
        Model.ImageUrls.Add(SqlHelper.GetAnnotationImage(Request.Query["id"]));
    }
    if (!string.IsNullOrEmpty(Request.Query["rid"]))
    {
        Model.ImageUrls.AddRange(SqlHelper.GetAnnotationImagesById(Request.Query["rid"]));
    }
}

    <div>
        @{
            foreach (var imgurl in Model.ImageUrls)
            {
                <div>
                    <img src="@imgurl" style="max-height:400px; max-width:400px;" />
                </div>
            }
        }
    </div>
